#battery {
  border-radius: 5px 0 5px 0;

  &.charging {
    @include green-background-gradient;
  }

  &.plugged {
    @include grey-background-gradient;
  }

  &.critical:not(.charging) {
    @include critical-background-gradient;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
