#power-profiles-daemon {
  @include badge-rounded;
  padding-right: 7px;
  padding-left: 7px;

  background-image: none;

  &.performance {
    @include red-background-gradient;
  }

  &.power-saver {
    @include green-background-gradient;
  }

  &.balanced {
    @include blue-background-gradient;
  }
}
