#workspaces {
  button {
    padding: 0 5px;
    background-color: transparent;
    color: $secondary_color;

    &.active {
      * {
        color: $primary_color;
      }
    }

    &:hover {
      //
    }

    &.focused {
      //
    }

    &.urgent {
      background-color: $warning_color;
    }
  }
}
