@import "./colors";
@import "./mixins";

window#waybar {
  font-family: FontAwesome, Liberation, monospace;
  font-size: 13px;
  color: $primary_color;

  border-bottom: 0px solid transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 0 2px 2px;
  margin: 0 4px;

  background-color: $background_color;

  &:first-child {
    @include secondary-background-gradient;
  }

  &.hidden {
    opacity: 0.2;
  }

  &.empty {
    background-color: transparent;
  }

  button {
    box-shadow: inset 0 -3px transparent;
    border: 0;
    border-radius: 0;

    &:hover {
      background: inherit;
      box-shadow: inset 0 -3px #fbf1c7;
    }
  }

  #workspaces {
    margin: 0 4px;

    button {
      padding: 0 5px;
      background-color: transparent;

      &.active {
        box-shadow: inset 0 -3px #fbf1c7;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      &.focused {
        background-color: #64727d;
        box-shadow: inset 0 -3px #ffffff;
      }

      &.urgent {
        background-color: #eb4d4b;
      }
    }
  }

  #mode {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
  }

  .modules-left {
    margin-left: 10px;

    > widget:first-child > #workspaces {
      margin-left: 0;
    }
  }

  .modules-right {
    margin-right: 10px;

    > widget:last-child > #workspaces {
      margin-right: 0;
    }
  }

  label {
    &.module {
      margin: 7px 0;
      opacity: 0.75;

      border: 1px solid #060006;
      border-radius: 12px;
      padding: 0 7px;

      background-image: linear-gradient(
        to right,
        rgba(107, 14, 14, 0.1) 0%,
        rgba(42, 9, 9, 0.3) 20%,
        rgba(33, 3, 40, 0.4) 60%,
        rgba(8, 0, 8, 0.5) 100%
      );
      transition: 0.5s;
      background-size: 200% auto;
    }

    &:focus {
      background-color: #000000;
    }
  }

  // modules
  #idle_inhibitor,
  #custom-power,
  #tray {
    @include badge-rounded;
  }

  #tray,
  #clock,
  #power-profiles-daemon,
  #idle_inhibitor,
  #custom-power {
    background-image: none;
  }

  #custom-power {
    color: $background_color;
    background-color: $primary_color;
  }

  #battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #custom-media {
    min-width: 100px;
  }

  #tray {
    > .passive {
      -gtk-icon-effect: dim;
    }

    > .needs-attention {
      -gtk-icon-effect: highlight;
    }
  }

  #privacy {
    padding: 0;
  }
  #privacy-item {
    padding: 0 5px;
  }

  //
  #power-profiles-daemon.performance,
  #battery.plugged {
    @include red-background-gradient;
  }

  #power-profiles-daemon.balanced {
    @include blue-background-gradient;
  }

  #idle_inhibitor.activated,
  #power-profiles-daemon.power-saver,
  #battery.charging {
    @include green-background-gradient;
  }

  #wireplumber.muted,
  #pulseaudio.muted,
  #network.disconnected {
    @include grey-background-gradient;
  }

  #battery.critical:not(.charging),
  #temperature.critical {
    @include critical-background-gradient;

    border: 1px solid #fbf1c7;
  }

  #privacy-item.screenshare,
  #privacy-item.audio-in,
  #privacy-item.audio-out {
    @include success-background-gradient;
  }

  #custom-media.custom-vlc {
    @include orange-background-gradient;
  }
}
