@mixin background-reset {
  background-color: transparent;
  background-image: none;
}

@mixin primary-background-gradient {
  background-color: transparent;
  background-image: $primary_gradient;
}

@mixin secondary-background-gradient {
  background-color: transparent;
  background-image: $secondary_gradient;
}

@mixin light-background-gradient {
  background-color: transparent;
  background-image: $light_gradient;
}

@mixin critical-background-gradient {
  background-color: transparent;
  background-image: $critical_gradient;
}

@mixin success-background-gradient {
  background-color: transparent;
  background-image: $success_gradient;
}

@mixin red-background-gradient {
  background-color: transparent;
  background-image: $red_gradient;
}

@mixin blue-background-gradient {
  background-color: transparent;
  background-image: $blue_gradient;
}

@mixin green-background-gradient {
  background-color: transparent;
  background-image: $green_gradient;
}

@mixin grey-background-gradient {
  background-color: transparent;
  background-image: $grey_gradient;
}

@mixin orange-background-gradient {
  background-color: transparent;
  background-image: $orange_gradient;
}

@mixin badge {
  border: 0px solid transparent;
  border-radius: 5px 0 5px 0;
}

@mixin popup {
  @include background-reset;

  background-color: $background-color;
  color: $primary_color;
  opacity: 0.9;
  padding: 5px;
  border-radius: 10px;

  * {
    color: $primary_color;

    &:disabled {
      color: $secondary_color;
    }
  }
}

@mixin group {
  padding: 0 5px;

  .module {
    //
  }
}

$font: FontAwesome, Liberation, monospace;
@mixin reset {
  @include background-reset;

  font-family: $font;
  font-size: 13px;
  color: $primary_color;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
