window#waybar {
  @include reset;
  @include secondary-background-gradient;

  opacity: 0.75;

  &.hidden {
    opacity: 0.2;
  }

  &.empty {
    background-color: transparent;
  }

  * {
    @include reset;
  }

  button {
    @include reset;

    &:hover {
      //
    }
  }

  .modules-left {
    @include primary-background-gradient;

    padding-right: 2px;
    border: 0px solid transparent;
    border-radius: 0 0 5px 0;
  }

  .modules-center {
    border: 0px solid transparent;
    border-radius: 0 0 5px 5px;
  }

  .modules-right {
    @include primary-background-gradient;

    padding-left: 2px;
    border: 0px solid transparent;
    border-radius: 0 0 0 5px;
  }

  label {
    &.module {
      padding: 0 7px;
    }

    &:focus {
      background-color: $background_color;
    }
  }

  menu {
    @include popup;
  }
}
